<div class="well">
		<%= form_for(@tweet) do |f| %>
		<%= f.text_field(:post) %>
		<%= f.submit "tweet" %>
		<% end %>
		</div>
	</div>
</div>
	<div class="span5 offset1">
		<div class="well">
			<% @tweets.each do |tweet| %><p>
				<div class="well">
				<%= tweet.post %>
				<%= current_user.name %>
				<%= tweet.created_at.strftime('%b %d, at %H:%M')  %>
				</div>
			<% end %>
			</p>
		</div>