<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tweeter" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
  
  <div class="navbar navbar-fluid-top ">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href= root ><span class="icon icon-home"></span></a>
          <span class="icon icon-twitter"></span>
            <ul class="nav dropdown pull-right" >
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon icon-cog pull-right"></span></a>
            <ul class="dropdown-menu">
              <% if user_logged_in? %>
               <li> <%= link_to "edit account", edit_user_registration_path %>
                <%= link_to "logout", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "login", new_user_session_path %>
                <%= link_to "signup", new_user_registration_path %>
              <% end %></li>
            </ul>
          </div>
        </div>
      </div>            

      <div class="container-fluid main">
        <div class="span4 offset1 ">
          <div class="row-fluid"> 

            <%= yield %>

          </div>
        </div>
      </div>
      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div>
  </body>
</html>
